.epvan-widget{
  padding: 10px 16px;
  background-color:#fff;
  .van-cell--required::before{
    display: none;
  }
  .van-field{
    padding: 0;
    &::after{
      left:0;
      right:0;
      border-color:transparent;
    }
  }
  .van-field__left-icon,
  .van-field__label{
    display: none;
  }
}
.epvan-desc{
  padding: 2px 0;
  color: #888;
  font-size: 14px;
}
.epvan-placeholder{
  min-width: 80px;
  color:rgba(0, 0, 0, .3);
}